/* Add here all your CSS customizations */
/* Progress Bar always visible */
.progress-bar.appear-animation {
	opacity: 1 !important;
}

/* Set time of transition on animation of progress-bars */
.progress-bar.custom-transition {
	-webkit-transition: ease all 5000ms !important;
        -moz-transition: ease all 5000ms !important;
        -ms-transition: ease all 5000ms !important;
        -o-transition: ease all 5000ms !important;
        transition: ease all 5000ms !important;
}

/* 100% */
.progress-100 {
	width: 100% !important;
}

/* 85% */
.progress-85 {
	width: 85% !important;
}

/* 30% */
.progress-30 {
	width: 30% !important;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  .animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }
  
  .animated.delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
  }
  
  .animated.delay-2s {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
  }
  
  .animated.delay-3s {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
  }
  
  .animated.delay-4s {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
  }
  
  .animated.delay-5s {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
  }
  
  .animated.fast {
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
  }
  
  .animated.faster {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
  }
  
  .animated.slow {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
  }
  
  .animated.slower {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
  }